= bootstrap_form_for resource do |f|
  = f.text_field :display_name
  = f.text_field :host
  = f.text_field :port
  = f.text_field :api_key
  = f.text_field :workspace_stats_url
  = f.text_field :horizon_stats_url
  = f.submit class: 'btn btn-success', style: 'width: 100%; margin-bottom: 30px'