.container
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.form-content
      %h1 Sign In
      = form_tag session_path do
        %h4 Welcome to the VMware End User Computing Demo Portal
        .form-group
          = label_tag :email
          = text_field_tag :email, params[:email], :class => "form-control"
        .form-group
          = label_tag :password
          = password_field_tag :password, params[:password], :class => "form-control"
        .form-group
          = submit_tag "Log in", :class => "btn btn-lg btn-strong"
        .help-block
          %a{"data-target" => "#password-reset-modal", "data-toggle" => "modal", :href => "#"} Forgot password? Click here to reset

/ Form with Validation Modal
#password-reset-modal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = form_tag recover_session_path do
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Reset Password
        .modal-body
          .form-group
            %label Email:
            %input.form-control{name: "email", type: "text"}
          .info
            %strong A new password will be sent to the email.
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
          %button#send-invite.btn.btn-success{type: "submit"} Reset Password