.middle-box.td-dialog.td-signup
  %h1 Login
  .login
    = form_tag session_path do
      = render "layouts/messages"
      .form-group
        = text_field_tag :email, params[:username], class: "form-control", placeholder: 'E-Mail'
      .form-group
        = password_field_tag :password, params[:password], class: "form-control", placeholder: 'Password'
      %button.btn.btn-info.loginbutton{:type => "submit"} Login
      %p
        %a.text-muted{href: '#', data: {target: "#password-reset-modal", toggle: "modal"}}
          %small Forgot password?
      %p.text-muted
        %small
          Don't have an account?
          %a{href: new_registration_path} Sign up here
      %small
  %small

#password-reset-modal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = form_tag recover_session_path do
        .modal-header
          %button.close{type: 'button', data: {dismiss: 'modal'}}
            %span ×
          .td-dialog
            %h1 Reset Password
        .modal-body
          .form-group
            %label Email:
            %input.form-control{name: "email", type: "text"}
          .info
            %strong A new password will be sent to the email.
        .modal-footer
          %button.btn.btn-default.pull-left{type: 'button', data: {dismiss: 'modal'}} Cancel
          %button#send-invite.btn.btn-success{type: "submit"} Reset Password