= bootstrap_form_for resource do |f|
  = f.text_field :display_name
  = f.check_box  :in_maintainance
  = f.text_field :group_region
  = f.text_field :group_name
  = f.text_field :token_retriever_url
  = f.text_field :username
  = f.text_field :password
  = f.text_field :client_id
  = f.text_field :client_secret
  = f.submit class: 'btn btn-success', style: 'width: 100%; margin-bottom: 30px'