<div class="bg clear">
  <h3>Enter your information</h3>
  <div class="content">
 	<%= form_tag signup_index_path do |f| %>
	  
	  <div class="fields">		
	    <%= text_field_tag :email, nil, placeholder: 'Email(must be @vmware.com)', class: "form-control" %>
	    <%= text_field_tag :firstname, nil, placeholder: 'First Name', class: "form-control" %>
	    <%= text_field_tag :lastname, nil, placeholder: 'Last Name', class: "form-control" %>
	    <%= text_field_tag :company, nil, placeholder: 'Company', class: "form-control" %>
	    <%= text_field_tag :title, nil, placeholder: 'Title', class: "form-control" %>	
	  </div>
	
          <div class="info">
            Your 30-day trial will start now. After your trial ends, the user's <strong>account will be deleted from the system.</strong>
          </div>

	  <div class="signup">
	    <%= submit_tag "Request Account", class: "btn btn-success btn-lg" %>
	  </div>
	<% end %>
  </div>
</div>

