.alert.alert-warning
  %h4 You are viewing another TestDrive User
  %p
    %a.btn.btn-warning.btn-xs{href: root_path} Return to Dashboard
.col-sm-12.col-md-12.col-lg-12.usercard
  .region.amer{style: 'width: 88px'}
    %p= @user.home_region.upcase
  .col-xs-12.col-sm-12.col-md-12.col-lg-3.avatar
    .avatar-img
      = image_tag @user.avatar_url
    - if @user.invited_by
      .user-inviter
        .user-inviter-img
          = image_tag @user.invited_by.avatar_url
        %p
          %span.firstname= @user.invited_by.first_name
          %span.lastname= @user.invited_by.last_name
  .col-xs-12.col-sm-12.col-md-12.col-lg-7.user-details
    .name
      %span.firstname= @user.first_name
      %span.lastname= @user.last_name
    .company
      %span.company_title= @user.job_title
      –
      %span.company_name= @user.company_name
      %span.partner_id= @user.company_id
      %br/
      %span.address Expires #{l @user.expiration_date}
    .contact
      / %span.phone +1 (000) 000-0000
      %span.email= @user.email
  .col-xs-12.col-sm-12.col-md-12.col-lg-2.user-admin
    .btn-group.btn-group-sm.btn-group-vertical{role: "group"}
      - if policy(@user).recover?
        %a{href: recover_user_path(@user), class: 'btn btn-default', data: {confirm: "Do you want to reset password for this account? The user will be notified by email.", method: "post"}}
          Reset Password
      - if !current_user.root? && prolongation = @user.authentication_integration.directory_prolongations.last
        %button.btn.btn-default{style: 'width: 114px', data: {content: "Reason: #{prolongation.reason}", placement: "bottom", toggle: "popover", trigger: "hover"}}
          Extended
      - else
        %a.btn.btn-xs.btn-warning.prolong-account-link{style: 'width: 114px', href: '#', data: {target: '#prolong-account-modal', toggle: 'modal', id: @user.authentication_integration.id, username: @user.authentication_integration.username, date: bl(@user.prolong_date), name: @user.display_name}}
          Extend
      - if policy(@user).destroy?
        %a.btn.btn-danger{style: 'width: 114px', href: user_path(@user), rel: "nofollow", data: {confirm: "Do you want to delete this account? The users account will permanently be deleted.", method: "delete"}}
          Delete
  %ul.nav.nav-tabs.nav-justified{role: "tablist"}
    %li.active{role: "presentation"}
      %a{"aria-controls" => "home", "aria-expanded" => "false", "data-toggle" => "tab", href: "#activity", role: "tab"} Activity
    - if InvitationPolicy.new(@user).create?
      %li{role: "presentation"}
        %a{"aria-controls" => "home", "aria-expanded" => "true", "data-toggle" => "tab", href: "#home", role: "tab"} Users
  .tab-content
    #activity.tab-pane.fade.active.in{role: "tabpanel"}
      - any = false

      - if horizon_desktops_stats(@user)[:data].present? && any = true
        .col-md-12.col-sm-12.col-lg-6
          .widget.activity.graph
            %h1 Horizon Activity
            %div{style: "width: 100%; height: 220px; background-color: #FFFFFF;"}
              #desktops-chart{data: {stats: horizon_desktops_stats.to_json}}

      - if horizon_sessions_stats(@user)[:data].present? && any = true
        .col-md-12.col-sm-12.col-lg-6
          .widget.activity.graph
            %h1 Horizon Sessions
            %div{style: "width: 100%; height: 220px; background-color: #FFFFFF;"}
              #sessions-chart{data: {stats: horizon_sessions_stats.to_json}}

      - if workspace_activity_stats[:data].present? && any = true
        .col-md-12.col-sm-12.col-lg-6
          .widget.activity.graph
            %h1 Workspace Activity
            %div{style: "width: 100%; height: 220px; background-color: #FFFFFF;"}
              #workspace-activity-chart.chart-holder{data: {stats: workspace_activity_stats.to_json}}


      - if horizon_apps_stats(@user)[:data].present? && any = true
        .col-lg-12{style: 'clear: both'}
          .widget.activity.graph
            %h1 Horizon Usage
            %div{style: "width: 100%; height: 370px; background-color: #FFFFFF;"}
              #apps-chart{data: {stats: horizon_apps_stats.to_json}}  }

      - if workspace_apps_stats[:data].present? && any = true
        .col-lg-12{style: 'clear: both'}
          .widget.activity.graph
            %h1 Workspace Usage
            %div{style: "width: 100%; height: 370px; background-color: #FFFFFF;"}
              #workspace-apps-chart.chart-holder{data: {stats: workspace_apps_stats.to_json}}  }

      - unless any
        .center.notice
          %h4 There is currently no activity to show for this user :(
    - if InvitationPolicy.new(@user).create?
      #home.tab-pane.fade{role: "tabpanel"}
        - @user.invited_users.chunk(&:company_name).each do |company, users|
          .orgviews.col-sm-12.col-md-12.col-lg-12
            .td-org.col-sm-12.col-md-12.col-lg-12
              %table.table
                %tbody
                  %tr
                    %td.logo
                      %em.icon-users
                    %td.orgname= company
                    %td.usercount= pluralize(users.count, "Active User")
            .td-users.zero-space.col-sm-12.col-md-12.col-lg-12
              %table.table
                %thead
                  %tr
                    %th.avatar
                    %th.name Name
                    %th.mobilehide E-Mail
                    %th.mobilehide Username
                    %th Expiration Date
                %tbody
                  - users.each do |user|
                    %tr
                      %td.avatar
                        %img{src: user.avatar_url}
                      %td.name= user.display_name
                      %td= user.email
                      %td= user.job_title
                      %td= l user.expiration_date
