%div{style: 'margin-bottom: 20px'}
  = bootstrap_form_for resource do |f|
    = f.select :profile_id, Profile.all.collect{|p| [ p.name, p.id ] }, prompt: '', label: 'Only send email to users inheriting the following profile'
    = f.text_field :send_at, append: "<i class='icon icon-clock'></i>".html_safe, data: {provide: 'datetimepicker'}
    = f.text_field :from_email
    = f.text_field :subject
    = f.text_field :adhoc_emails, label: 'Adhoc Emails (separated by comma)'
    = f.text_area :body
    = f.submit value: 'Start the mass delivery', class: 'btn btn-success', style: 'width: 100%'