<% if policy(current_user).invites? && current_user.invitation.present? %>
	<div class="col-md-12 col-sm-12 col-lg-12">
		<h1 class="lined"><span>Organizations and Users</span></h1>
	</div>

	<%
		Invitation.where(sender_id: current_user.id).order(:recipient_company)
			.chunk { |invitation|
				invitation.recipient_company
			}
			.each { |recipient_company, invitations|
				%>
		<div class="orgviews col-sm-12 col-md-12 col-lg-12">
			<div class="td-org col-sm-12 col-md-12 col-lg-12">
				<table class="table">
					<tbody>
						<tr>
							<td class="logo"><em class="icon-users"></em></td>
							<td class="orgname"><%= recipient_company %></td>
							<td class="usercount"><%= pluralize(invitations.count, "Active User") %></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="td-users zero-space col-sm-12 col-md-12 col-lg-12">
				<table class="table">
					<thead>
						<tr>
							<th class="avatar"></th>
							<th class="name">Name</th>
							<th class="mobilehide">E-Mail</th>
							<th class="mobilehide">Username</th>
							<th>Days Left</th>
							<th>Admin</th>
						</tr>
					</thead>

					<tbody>
						<% invitations.each_with_index { |invitation, i| %>
							<tr data-id="<%= invitation.id.to_s %>" data-firstname="<%= invitation.recipient_firstname %>" data-lastname="<%= invitation.recipient_lastname %>" data-expires-at="<%= invitation.expires_at.to_s(:iso8601) %>" class="<%= 'alt' if i % 2 == 1 %>">
								<td class="avatar"><img src="<%= invitation.recipient.try(:avatar_url) || User.default_avatar_url %>"></td>
								<td class="name"><%= invitation.recipient_firstname %> <%= invitation.recipient_lastname %></td>
								<td class="mobilehide"><%= invitation.recipient_email %></td>
								<td class="mobilehide"><%= invitation.recipient_username %></td>
								<td><%= invitation.expires_at.to_date.to_formatted_s(:long) %></td>
								<td class="admin">
									<% extension = Extension.where(recipient: invitation.id).last %>
									<% if !extension.nil? %>
										<a href="#" class="btn btn-xs btn-warning extend-account-link-ro" data-toggle="modal" data-target="#extend-account-modal">Extend</a>
									<% else %>
										<span class="btn btn-xs btn-warning" disabled="disabled" data-toggle="popover" data-placement="bottom" data-content="Reason: <%= extension.try :reason %>">
											Extended
										</span>
									<% end %>
									<a class="btn btn-xs btn-danger" href="<%= invitation_path(invitation) %>" data-method="delete" rel="nofollow" data-confirm="Do you want to delete this account? The users account will permanently be deleted.">
										Delete
									</a>
								</td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	<% } %>

	<div class="modal fade" id="extend-account-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content" style="text-align: left">
				<form id="extend-account-form" method="post" action="/extend_invitation" role="form">
					<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
					<input type="hidden" name="invitationId" id="invitationId"/>
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	      	<div class="td-dialog">
	  	      	  <h1>Extend Account</h1>
	  	      	</div>
		      </div>
					<div class="modal-body">
						This action will extend the user's account by a month. This will be a one-time extension and the users account will be deleted from the system once the expiration date has been reached. <br/><br/>
						<div class="form-group">
							<label>User:</label>
							<input type="text" name="user" id="invitationUser" class="form-control" readonly="true" />
						</div>
						<div class="form-group">
							<label>Reason:</label>
							<input type="text" name="reason" class="form-control" placeholder="Please enter reason for extension" />
						</div>
						<div class="form-group">
							<label>New Expiration Date:</label>
							<input type="text" name="expiresAt" id="expiresAtRo" class="form-control" readonly="true"/>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-success">Submit request</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<% end %>
