- if policy(:invitation).create? && current_user.invited_users.any?
  %a#invitations
  .col-md-12.col-sm-12.col-lg-12
    %h1.lined.switch01{"data-toggle" => "collapse", href: "#collapse-invitations"}
      %span.icon01.icon-arrow-down
      %span Organizations and Users
  #collapse-invitations.collapse.in
    - current_user.invited_users.chunk(&:company_name).each do |company, users|
      .orgviews.col-sm-12.col-md-12.col-lg-12
        .td-org.col-sm-12.col-md-12.col-lg-12
          %table.table
            %tbody
              %tr
                %td.logo
                  %em.icon-users
                %td.orgname= company
                %td.usercount= pluralize(users.count, "Active User")
        .td-users.zero-space.col-sm-12.col-md-12.col-lg-12
          %table.table
            %thead
              %tr
                %th.avatar
                %th.name Name
                %th.mobilehide E-Mail
                %th.mobilehide Username
                %th Expiration Date
                %th Admin
            %tbody
              - users.each do |user|
                %tr
                  %td.avatar
                    %img{src: user.avatar_url}
                  %td.name= user.display_name
                  %td= user.email
                  %td= user.job_title
                  %td= l user.expiration_date
                  %td
                    %a.btn.btn-xs.btn-success{href: user_path(user)}
                      Activity
                    - if prolongation = user.authentication_integration.directory_prolongations.last
                      %button.btn.btn-xs.btn-default{data: {content: "Reason: #{prolongation.reason}", placement: "bottom", toggle: "popover", trigger: "hover"}}
                        Extended
                    - else
                      %a.btn.btn-xs.btn-warning.prolong-account-link{href: '#', data: {target: '#prolong-account-modal', toggle: 'modal', id: user.authentication_integration.id, username: user.authentication_integration.username, date: bl(user.prolong_date), name: user.display_name}}
                        Extend
                    %a.btn.btn-xs.btn-danger{href: user_path(user), rel: "nofollow", data: {confirm: "Do you want to delete this account? The users account will permanently be deleted.", method: "delete"}}
                      Delete