<% @current_user_invited = Invitation.find(current_user.invitation_id) %>
<% if @current_user_invited.blank? || @current_user_invited.region.blank? %>
<% region = 'amer' %>
<% else %>
<% region = @current_user_invited.region.downcase %>
<% end %>
<% rem_regions = ['amer', 'emea', 'apac'] - ["#{region}"] %>

<div>
  <h3> Login to your Horizon environment </h3>
<section>
<div style="max-width: 350px;" class="well horizon-links">


                    <div class="btn-group dropup btn-block">
      <a href="https://workspace.vmwdemo.com" target="_blank" class="btn btn-success btn-large" style="width: 305px;">
        <span>Login to Workspace Portal</span>
      </a>
                    </div>
                    			<hr>

                    <div class="btn-group dropup btn-block">
			<a href="https://hv6<%= region %>.vmwdemo.com/portal/webclient/index.html" target="_blank" class="btn btn-info btn-large popoverHorizon" data-content="Click to login to your home region or pick a region from the dropdown" rel="popover" data-trigger="hover" data-placement="bottom" style="width: 280px;">
				<span>Login to Horizon View</span>
			</a>
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu text-left" role="menu">
                        <li><a href="https://hv6<%= region %>.vmwdemo.com/portal/webclient/index.html" target="_blank"><span class="fa pull-right"></span> <%= region.upcase %> (Home) </a></li>
                        <li class="divider"></li>
                        <% rem_regions.each do |sync_reg| %>
                          <li><a href="https://hv6<%= sync_reg %>.vmwdemo.com/portal/webclient/index.html" target="_blank"><span class="fa pull-right"></span> <%= sync_reg.upcase %>  </a></li>
                        <% end %>
                        <li class="divider"></li>
                        <li><a href="#" class="btn disabled" role="button"> Pick Region </a></li>
                      </ul>
                    </div>


			<p style="margin-top: 8px" class="text-center">or</p>

                    <div class="btn-group dropup btn-block">
			<a href="vmware-view://hv6<%= region %>.vmwdemo.com/" class="btn btn-info btn-large popoverHorizon" data-content="Click to login to your home region or pick a region from the dropdown" rel="popover" data-trigger="hover" data-placement="bottom" style="width: 280px;">
				<span>Launch Horizon View App</span>
			</a>
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu text-left" role="menu">
                        <li><a href="vmware-view://hv6<%= region %>.vmwdemo.com/"><span class="fa pull-right"></span> <%= region.upcase %> (Home)  </a></li>
                        <li class="divider"></li>
                        <% rem_regions.each do |sync_reg| %>
                          <li><a href="vmware-view://hv6<%= sync_reg %>.vmwdemo.com/"><span class="fa pull-right"></span> <%= sync_reg.upcase %>  </a></li>
                        <% end %>
                        <li class="divider"></li>
                        <li><a href="#" class="btn disabled" role="button"> Pick Region </a></li>
                      </ul>
                    </div>

</div>
</section>
</div>


