#user-profile.container-fluid.container-flow
  .well.clearfix
    .col-md-4.col-md-push-8
      %figure.top-margin
        %img.img-circle.img-responsive.center-block{alt: "Profile Image", height: "200", src: current_user.avatar_url, width: "200"}
      %hr
      %figure#avatar-figure
        .text-center
          %button.btn.btn-primary{type: "button", data: {target: "#edit-profile-modal", toggle: "modal"}}
            Edit Profile
    .col-md-8.col-md-pull-4
      %h2
        = current_user.display_name
      %p
        %strong Email:
        = current_user.email
      %p
        %strong Company:
        = current_user.company.try(:name)
      %p
        %strong Title:
        = current_user.job_title
      %p
        %strong Region:
        = I18n.t("regions.#{current_user.home_region}")
      - if current_user.invited_by
        %p
          %strong Invited by:
          = current_user.invited_by.display_name
          %a{href: "#", data: {target: "#support-modal", toggle: "modal"}}
            (Contact)
      - if current_user.admin?
        %p
          %strong Role:
          Super User