<div class="container container-left container-top">
    <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%= current_user.display_name %></h2>
                    <p><strong>Username: </strong> <%= current_user.username %>@<%= ENV['DOMAIN'] %></p>
                    <p><strong>Email: </strong> <%= current_user.email %> </p>
		    <p><strong>Title: </strong> <%= current_user.title %> </p>	
		    <p><strong>Company: </strong> <%= current_user.company %> </p>	
	            <% @current_user_invited = Invitation.where(recipient_username: current_user.username).first %>
	            <% if !@current_user_invited.blank? %>
                      <p><strong>Region: </strong> <%= @current_user_invited.region %></p>
	            <% end %>
	            <% if !@current_user_invited.blank? && !@current_user_invited.sender.blank? %>
                      <p><strong>Invited by: </strong> <%= @current_user_invited.sender.display_name %></p>
	            <% end %>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center top-margin">
                    <figure>
                        <img src="<%= asset_path('default-user-icon-profile.png') %>" alt="" class="img-circle img-responsive">
                    </figure>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
