<% if !session[:impersonator_id].blank? %>
	<div class="alert alert-warning" role="alert">WARNING! You are now in Impersonator Mode. Any dashboard activity will happen as though it was initiated by the user you are impersonating. Remember, with great power comes great responsibility! Click <%= link_to 'here', unimpersonate_path, method: :post %> to return to Normal Mode.</div>
<% end %>

<%= render 'header' %>

<h1 class="lined"><span>Dashboard</span></h1>
<%= render 'tiles' %>
<%= render 'profile' %>

<% if current_user.role != 'admin' %>
	<%= render 'account_stats' %>
<% end %>

<%= render 'invitations' %>
