<%= content_for :body_id, "dashboard" %>

<div class="menubar">
        <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
        Dashboard
        </div>

</div>

<% if current_user %>

<br/>
<div class="row-fluid">
    <div class="span3">
        <div class="well menu">
            <a target="_blank" href="vmware-view://view.vmwdemo.com/" class="btn btn-small span2" style="text-align: left;"><i class="icon-plus"></i>   Launch Horizon View App</a>
            <a target="_blank" href="https://view.vmwdemo.com" class="btn btn-small span2" style="text-align: left;"><i class="icon-list"></i>   Launch Horizon View</a>
            <a target="_blank" href="https://hzws.vmwdemo.com" class="btn btn-small span2" style="text-align: left;"><i class="icon-print"></i>   Launch Horizon Workspace</a>
        </div>
    </div>
</div>

	<div class="content-wrapper">
	  <div class="metrics clearfix">
	    <div class="metric">
	      <span class="field">Invitation limit</span>
	      <span class="data">5</span>
	    </div>
	    <div class="metric">
	      <span class="field">Invitations used</span>
	      <span class="data"><%= 5 - current_user.invitation_limit %> </span>
	    </div>
	    <div class="metric">
	      <span class="field">Invitations remaining</span>
	      <span class="data"><%= current_user.invitation_limit %></span>
	    </div>
	  </div>
	</div>

	<div class ="slots">
		<br/>
		<h3> Manage Accounts </h3>
		<table class="table table-striped table-bordered table-condense">
	  <thead>
	    <tr>
	      <th>Sender</th>
	      <th>Email</th>
	      <th>Full Name</th>
	      <th>Company</th>
	      <th>Title</th>
	      <th>Expires on</th>
	      <th colspan="1"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @invitations = Invitation.where(sender_id: current_user.id) %>
	    <% @invitations.each do |invitation| %>
	      <tr>
		<td><%= invitation.sender.username %></td>
		<td><%= invitation.recipient_email %></td>
		<td><%= invitation.recipient_firstname + " " + invitation.recipient_lastname %></td>
		<td><%= invitation.recipient_company %></td>
		<td><%= invitation.recipient_title %></td>
		<td><%= (invitation.expires_at).to_date() %></td>
		<td class="text-center"><%= link_to 'Expire Account', invitation, method: :delete, data: { confirm: 'Are you sure?' }, class: "new-user btn btn-danger" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<% if current_user.invitation_limit > 0 %>
			<a href="#" data-toggle="modal" data-target="#form-validation-modal" class="new-user btn btn-success pull-left">
				<span>Invite user</span>
			</a>
	<% else %>
			<button type="button" class="btn btn-success" data-dismiss="modal" disabled="true">Invite user</button>
	<% end %>
	</div>
		
	<!-- Form with Validation Modal -->
	<div class="modal fade" id="form-validation-modal" tabindex="-1" role="dialog">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		    	<form id="new-invitation-form" method="post" action="/invitations" role="form">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        	<h4 class="modal-title" id="myModalLabel">
			        		Invite User
			        	</h4>
			      	</div>
			      	<div class="modal-body">
						<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token" %>
						<div class="form-group">
					    	<label>First name:</label>
					    	<input type="text" name="invitation[recipient_firstname]" class="form-control" />
					  	</div>
						<div class="form-group">
					    	<label>Last name:</label>
					    	<input type="text" name="invitation[recipient_lastname]" class="form-control" />
					  	</div>
					  	<div class="form-group">
					    	<label>Email:</label>
					    	<input type="email" name="invitation[recipient_email]" class="form-control" />
					  	</div>
						<div class="form-group">
					    	<label>Company:</label>
					    	<input type="text" name="invitation[recipient_company]" class="form-control" />
					  	</div>
						<div class="form-group">
					    	<label>Title:</label>
					    	<input type="text" name="invitation[recipient_title]" class="form-control" />
					  	</div>
                                <div class="info">
                                  A 30-day account will be setup for the user. After the 30-day trial ends, the user's <strong>account will automatically be deleted from the system.</strong>
                                </div>
			      	</div>
			      	<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				        <button type="submit" class="btn btn-success">Send Invite</button>
			      	</div>
				</form>
		    </div>
	  	</div>
	</div>
<% end %>
