<%= content_for :body_id, "dashboard" %>

<div class="menubar">
        <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
          <header>
            <h1><a href="/" class="home">EUC Demo Portal</a></h1>
          </header>
        </div>

</div>

<% if current_user %>

  <% if current_user.role == 'vip' %>
    <%= render 'header' %>	
  <% end %>

<%= render 'profile' %>

<%= render 'links' %>

  <% if current_user.role != 'admin' %>
    <%= render 'account_stats' %>
  <% end %>


<%= render 'invitations' %>

  <% if current_user.role == 'vip' %>
    <%= render 'footer' %>	
  <% end %>

<% end %>

