<%= content_for :body_id, "dashboard" %>

<div class="menubar">
        <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
          <header>
            <h1><a href="/" class="home">EUC Demo Portal</a></h1>
          </header>
        </div>

</div>

<% if current_user %>

<%= render 'profile' %>

<%= render 'links' %>

<%= render 'account_stats' %>

<%= render 'invitations' %>

<%= render 'footer' %>


<% end %>

