<%= form_for(@reg_code) do |f| %>
	<% if @reg_code.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@reg_code.errors.count, "error") %> prohibited this reg_code from being saved:</h2>

			<ul>
			<% @reg_code.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label :code %>
		<%= f.text_field :code, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :valid_from %>
		<%= f.datetime_select :valid_from, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :valid_to %>
		<%= f.datetime_select :valid_to, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :status %>
		<%= f.check_box :status %>
	</div>
	<div class="checkbox">
	</div>
	<div class="form-group">
		<%= f.label :registrations %>
		<%= f.number_field :registrations, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :account_type %>
		<%= f.select(:account_type, [['Regular User', 0], ['Super User', 1]], { :prompt => 'Account Type' }, { :class => 'form-control' }) %>
	</div>
	<div class="form-group">
		<%= f.label :account_validity %> (in days)
		<%= f.number_field :account_validity, class: 'form-control' %>
	</div>
	<%= f.submit class: 'btn btn-success' %>
<% end %>
