<div class="content">
	<%= form_for(@invitation) do |f| %>
		<div class="fields">
			<div class="form-group">
				<%= f.text_field :recipient_email, placeholder: 'Email', class: 'form-control', required: true %>
			</div>
			<div class="form-group">
				<%= f.text_field :recipient_firstname, placeholder: 'First Name', class: 'form-control', required: true %>
			</div>
			<div class="form-group">
				<%= f.text_field :recipient_lastname, placeholder: 'Last Name', class: 'form-control', required: true %>
			</div>
			<div class="form-group">
				<%= f.text_field :recipient_username, placeholder: 'Username (optional)', class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.text_field :recipient_company, placeholder: 'Company', class: 'form-control', required: true %>
			</div>
			<div class="form-group">
				<%= f.text_field :recipient_title, placeholder: 'Job Title', class: 'form-control', required: true %>
			</div>
			<div class="form-group">
				<%= f.text_field :expires_at, placeholder: 'Expires on (optional)', class: 'form-control datepicker' %>
			</div>
			<div class="form-group">
				<%= f.number_field :potential_seats, placeholder: 'Potential number of users', class: 'form-control popoverPotentialSeats', required: true %>
			</div>
			<div class="form-group">
				<%= f.select(:region, ['AMER', 'EMEA','APAC', 'DLDC'], { :prompt => 'Select Home Region' }, { :class => 'form-control', required: true }) %>
			</div>
			<div class="form-group">
				<%= f.select(:airwatch_trial, [['Yes', 1], ['No', 0]], { :prompt => 'AirWatch Trial' }, { :class => 'form-control', required: true }) %>
			</div>
		</div>
		<div class="help-block">A trial account will be setup for the user. After the trial ends, the <strong>user's account will automatically be deleted from the system.</strong></div>
		<%= f.submit 'Send Invitation', class: 'btn btn-success' %>
	<% end %>
</div>
