= f.fields_for :to_user do |uf|
  = uf.text_field :first_name
  = uf.text_field :last_name
  = uf.email_field :email
  = uf.text_field :company_name, label_class: "required"
  = f.text_field :potential_seats
  = uf.text_field :job_title
  = uf.text_field :integrations_username
  - if writable?(f.object, :to_user_attributes, :integrations_expiration_date)
    = uf.text_field :integrations_expiration_date, 'data-provide' => 'datepicker', value: bl(uf.object.integrations_expiration_date)
  - if writable?(f.object, :to_user_attributes, :role)
    = uf.select :role, I18n.t('roles').invert
  - if writable?(f.object, :to_user_attributes, :profile_id)
    = uf.select :profile_id, Profile.all.collect{|p| [ p.name, p.id ] }, prompt: ''
  = uf.select :home_region, I18n.t('regions').invert, prompt: 'Select a Region'
  = uf.fields_for :user_integrations do |uif|
    %fieldset
      %legend{style: 'margin-bottom: 15px'}= uif.object.integration.name
      = uif.hidden_field :integration_id
      - uif.object.integration.enabled_services.each do |s|
        .col-lg-3
          = uif.check_box :"#{s}_disabled"
.help-block{style: 'margin-top: 20px'}
  A 30-day account will be setup for the user. After the 30-day trial ends, the user's
  %strong account will automatically be deleted from the system.