<%= content_for :body_id, "users" %>

<div class="menubar fixed">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>
	
	<div class="page-title">
		Invitations
	</div>
	<form class="search hidden-xs">
		<i class="fa fa-search"></i>
		<input type="text" name="q" placeholder="Search users..." />
		<input type="submit" />
	</form>
	<a href="<%= new_invitation_path %>" class="new-user btn btn-success pull-right">
		<span>Invite user</span>
	</a>
</div>

<div> There are a total of <%= Invitation.all.count %> active users</div>
<br/>
<table class="table table-striped table-bordered table-condense">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Username</th>
      <th>Title</th>
      <th>Company</th>
      <th>Region</th>
      <th>Expires on</th>
      <th>Sender</th>
      <th colspan="1">AirWatch</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.recipient_firstname + " " + invitation.recipient_lastname %></td>
        <td><%= invitation.recipient_email %></td>
        <td><%= invitation.recipient_username %></td>
        <td><%= invitation.recipient_title %></td>
        <td><%= invitation.recipient_company %></td>
        <td><%= invitation.region %></td>
	<td>
            <%= (invitation.expires_at).to_date.to_formatted_s(:long) %> 
            <a class="extend-account-link" href="#" data-toggle="modal" data-id="<%= invitation.id.to_s + ";" + invitation.recipient_firstname + " " + invitation.recipient_lastname + ";" + invitation.expires_at.to_s %>" data-target="#extend-account-modal" class="extend-user invite-user-link popoverExtendAccount" rel="popover" data-trigger="hover" data-placement="bottom""><span> (Extend)</span></a> 
        </td>
        <% if invitation.sender.blank? %>
          <td><strong>N/A</strong></td>
        <% else %>
          <td><%= invitation.sender.display_name unless invitation.sender.blank? %></td>  
        <% end %>
		<td class="text-center">
		  <div class="btn-group btn-toggle"> 
		    <% if invitation.airwatch_trial == true %>
		      <%= link_to "ON", toggle_airwatch_path(id: invitation.id),  class: "btn btn-sm btn-default btn-success active btn-active" %>
                      <%= link_to 'OFF', toggle_airwatch_path(id: invitation.id), class: "btn btn-sm btn-default btn-inactive" %>
		   <% else %>
		     <%= link_to "ON", toggle_airwatch_path(id: invitation.id), class: "btn btn-sm btn-default btn-active" %>
                     <%= link_to 'OFF', toggle_airwatch_path(id: invitation.id), class: "btn btn-sm btn-default btn-danger active btn-inactive" %>
		   <% end %>
		  </div>		
		</td>
        <td><%= link_to 'Delete', invitation, method: :delete, data: { confirm: 'Do you want to delete this account? The users account will permanently be deleted.' } %></td>
        <td><%= link_to 'Impersonate', impersonate_user_path(invitation.id), method: :post, data: { confirm: 'Do you want to impersonate this user?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Invitation', new_invitation_path %>

	<!-- Extend account Modal -->
	<div class="modal fade" id="extend-account-modal" tabindex="-1" role="dialog">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		    	<form id="extend-account-form" method="post" action="/extend_invitation" role="form">
			       <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token" %>
                               <input type="hidden" name="invitationId" id="invitationId" %>
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        	<h4 class="modal-title" id="myModalLabel">
			        		Extend Account
			        	</h4>
			      	</div>
			      	<div class="modal-body">
                                This action will extend the user's account until the specified date.<br/><br/>
					  	<div class="form-group">
					    	<label>User:</label>
					    	  <input type="text" name="user" id="invitationUser" class="form-control" readonly="true" />
					  	</div>

					  	<div class="form-group">
					    	  <label>Reason:</label>
					    	  <input type="text" name="reason" class="form-control" placeholder="Please enter reason for extension" />
					  	</div>

					  	<div class="form-group">
					    	  <label>New Expiration Date:</label>
					    	  <input type="text" name="expiresAt" id="expiresAt" class="form-control datepickerExpiresAt"/>
					  	</div>

			      	</div>
			      	<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				        <button type="submit" class="btn btn-success">Submit request</button>
			      	</div>
				</form>
		    </div>
	  	</div>
	</div>

