<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @invitation.sender_id %>
</p>

<p>
  <strong>Recipient email:</strong>
  <%= @invitation.recipient_email %>
</p>

<p>
  <strong>Token:</strong>
  <%= @invitation.token %>
</p>

<p>
  <strong>Recipient username:</strong>
  <%= @invitation.recipient_username %>
</p>

<p>
  <strong>Recipient firstname:</strong>
  <%= @invitation.recipient_firstname %>
</p>

<p>
  <strong>Recipient lastname:</strong>
  <%= @invitation.recipient_lastname %>
</p>

<p>
  <strong>Recipient title:</strong>
  <%= @invitation.recipient_title %>
</p>

<p>
  <strong>Recipient company:</strong>
  <%= @invitation.recipient_company %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
