= bootstrap_form_for resource do |f|
  = f.text_field :name
  = f.select :profile_id, Profile.all.collect{|p| [ p.name, p.id ] }, prompt: ''
  = f.select :user_role, [['Regular User', 'basic'], ['Super User', 'admin']]
  = f.text_field :total_invitations
  = f.submit class: 'btn btn-success', style: 'width: 100%; margin-bottom: 30px'