<div class="container container-flow">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Add Domain</h3>
				</div>
				<%= form_tag domains_path, method: :post, id: 'domains-add-form', class: 'panel-body' do |f| %>
					<div class="input-group">
						<input type="text" class="form-control" name="domain[name]" placeholder="Domain name..."/>
						<span class="input-group-btn">
							<button class="btn btn-success" type="submit">Add</button>
						</span>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Manage Domains</h3>
	</div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @domains.each do |domain| %>
				<tr>
					<td><%= domain.name %></td>
					<td class="text-center">
						<div class="btn-group btn-toggle">
							<% if domain.status == 'active' %>
								<%= link_to 'ON',  toggle_path(id: domain.id), class: 'btn btn-xs btn-success active' %>
								<%= link_to 'OFF', toggle_path(id: domain.id), class: 'btn btn-xs btn-default' %>
							<% else %>
								<%= link_to 'ON',  toggle_path(id: domain.id), class: 'btn btn-xs btn-default' %>
								<%= link_to 'OFF', toggle_path(id: domain.id), class: 'btn btn-xs btn-danger active' %>
							<% end %>
						</div>
					</td>
					<td>
						<%= link_to 'Delete', domain, method: :delete, data: { confirm: 'This domain will be deleted'}, class: "btn btn-xs btn-danger" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
