.container.container-flow
  .row
    .col-xs-12.col-sm-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title Add Domain
        = form_tag domains_path, method: :post, id: 'domains-add-form', class: 'panel-body' do |f|
          .input-group
            %input.form-control{:name => "domain[name]", :placeholder => "Domain name...", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-success{:type => "submit"} Add

.panel.panel-default
  .panel-heading
    %h3.panel-title Manage Domains
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Name
        %th Status
        %th Actions
    %tbody
      - @domains.each do |domain|
        %tr
          %td= domain.name
          %td.text-center
            .btn-group.btn-toggle
              - if domain.active?
                = link_to 'ON',  toggle_domain_path(domain), class: 'btn btn-xs btn-success active'
                = link_to 'OFF', toggle_domain_path(domain), class: 'btn btn-xs btn-default'
              - else
                = link_to 'ON',  toggle_domain_path(domain), class: 'btn btn-xs btn-default'
                = link_to 'OFF', toggle_domain_path(domain), class: 'btn btn-xs btn-danger active'
          %td
            = link_to 'Delete', domain, method: :delete, data: { confirm: 'This domain will be deleted'}, class: "btn btn-xs btn-danger"