= bootstrap_form_for resource do |f|
  = f.text_field :group_region
  = f.text_field :rds_group_name
  = f.text_field :desktops_group_name
  = f.text_field :view_group_name
  = f.text_field :api_host
  = f.text_field :api_port
  = f.text_field :api_key
  = f.submit class: 'btn btn-success', style: 'width: 100%; margin-bottom: 30px'