= bootstrap_form_for resource do |f|
  = f.text_field :display_name
  = f.check_box  :in_maintainance
  = f.text_field :group_region
  = f.text_field :group_name
  = f.file_field :key_file
  - unless resource.key_base64.blank?
    = f.text_area :key_base64, readonly: true, rows: 10
  = f.text_field :key_password
  = f.text_field :initial_password
  = f.text_field :service_account
  = f.text_field :act_on_behalf
  = f.submit class: 'btn btn-success', style: 'width: 100%; margin-bottom: 30px'