= bootstrap_form_for resource do |f|
  = f.text_field :group_region
  = f.text_field :group_name
  = f.text_field :grant_type
  = f.text_field :client_id
  = f.text_field :client_secret
  = f.text_field :enterprise_id
  = f.submit class: 'btn btn-success', style: 'width: 100%; margin-bottom: 30px'