= bootstrap_form_for @registration_code do |f|
  = f.select :user_role, [['Regular User', 'basic'], ['Super User', 'admin']]
  = f.number_field :user_validity
  = f.number_field :total_registrations
  = f.text_field :valid_from, 'data-provide' => 'datepicker', value: f.object.valid_from.try(:strftime, '%d.%m.%Y')
  = f.text_field :valid_to, 'data-provide' => 'datepicker', value: f.object.valid_to.try(:strftime, '%d.%m.%Y')
  = f.submit class: 'btn btn-success', style: 'width: 100%; margin-bottom: 30px'