#avatar-modal.modal.fade{role: "dialog", tabindex: "-1"}
  = form_for current_user, url: current_user_path, html: {id: 'avatar-form', class: 'modal-dialog', multipart: true} do |f|
    %input#avatar-remove-avatar.hidden{name: "user[remove_avatar]", type: "checkbox", value: "1"}
    #avatar-general.modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: 'modal'}}
          %span ×
        .td-dialog
          %h1 Profile
      .modal-body.usercard.td-dialog.editprofile
        .btn-group.col-sm-5.col-md-5.col-lg-5
          .avatar-img
            %img{src: current_user.avatar_url}
          #avatar-left-buttons.avatar-controls.btn-group-vertical
            %button.btn.btn-sm.btn-default{type: "button"} Take Photo
            %button.btn.btn-sm.btn-default{type: "button"} Upload Photo
            %button.btn.btn-sm.btn-danger{type: "button"} Remove Photo
        .col-sm-7.col-md-7.col-lg-7.user-details
          .name
            %span.firstname= current_user.first_name
            %span.lastname= current_user.last_name
          .company
            %span.company_title= current_user.job_title
            –
            %span.company_name= current_user.company_name
          .contact
            %span.email= current_user.email
      .modal-footer
        %button.btn.btn-default.pull-left{type: "button", data: {dismiss: 'modal'}} Cancel
        %button.btn.btn-success{type: "button", data: {dismiss: 'modal'}} Save changes
    #avatar-webcam.modal-content
      .canvas
        %div Accessing Camera…
      %button#avatar-webcam-shot.btn.btn-primary{disabled: true, type: "button"}
        %span Take Photo
      %footer
        %button.btn.btn-default{type: "button"} Cancel
        %button.btn.btn-success{disabled: true, type: "submit"} Use this Photo

#bug-report-modal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = bootstrap_form_for @bug_report do |f|
        .modal-header
          %button.close{type: "button", data: {dismiss: 'modal'}}
            %span ×
          .td-dialog
            %h1 Submit a support request
        .modal-body
          = f.select :product, ['AirWatch', 'Horizon', 'Identity Manager', 'App Volumes', 'UEM', 'VMware Testdrive Portal', 'vROPS for Horizon', 'Other']
          = f.text_area :body, maxlength: 1000, rows: 10
        .modal-footer
          %button.btn.btn-default.pull-left{type: "button", data: {dismiss: 'modal'}} Cancel
          %button.btn.btn-success{type: "submit"} Submit request

#support-modal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = form_for @support_request do |f|
        .modal-header
          %button.close{type: "button", data: {dismiss: 'modal'}}
            %span ×
          .td-dialog
            %h1 Submit a support request
        .modal-body
          - if current_user.invited_by
            .form-group
              %label To
              %input.form-control{readonly: true, type: "text", value:current_user.invited_by.email}
          .form-group
            %label Subject
            - if current_user.basic?
              %input.form-control{readonly: true, type: "text", value: @support_request.default_subject}
            - else
              %input.form-control{name: "subject", type: "text"}
          .form-group
            %label Body
            %textarea.form-control{name: 'support_request[body]', maxlength: "1000", rows: "3"}
          - if current_user.admin?
            .well.sla
              %p{align: "center", style: "text-align: left; font-size: 12px; color: #555; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: bold; line-height: 19px;"} Portal SLA Information:
              %p{align: "center", style: "text-align: left; font-size: 12px; color: #555; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: normal; line-height: 19px;"} Super Users can expect to receive email support from the VMware Demo Team during regular business hours, these are Monday thru Friday 0900 – 1700 USA-PST. At the moment the response times are 4 hour response and 48 hours to resolution. Support will not be available outside of these hours or on weekends, and any public holidays that VMware observes in our regions.
        .modal-footer
          %button.btn.btn-default.pull-left{type: "button", data: {dismiss: 'modal'}} Cancel
          %button.btn.btn-success{type: "submit"} Submit request

#password-change-modal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = form_tag update_password_current_user_path do |f|
        .modal-header
          %button.close{type: "button", data: {dismiss: 'modal'}}
            %span ×
          .td-dialog
            %h1 Change Password
        .modal-body
          .form-group
            %label Current Password:
            %input.form-control{name: "old_password", type: "password"}
          .form-group
            %label New Password:
            %input#user_desired_password.form-control{name: "new_password", type: "password"}
            .pswd_info
              %h4 Password must meet the following requirements:
              %ul
                %li#letter.invalid
                  At least
                  %strong one letter
                %li#capital.invalid
                  At least
                  %strong one capital letter
                %li#number.invalid
                  At least
                  %strong one number
                %li#length.invalid
                  Be at least
                  %strong 8 characters
          .form-group
            %label Confirm New Password:
            %input.form-control{name: "password_confirmation", type: "password"}
        .modal-footer
          %button.btn.btn-default.pull-left{type: "button", data: {dismiss: 'modal'}} Cancel
          %button.btn.btn-success{type: "submit"} Submit