%ul.nav.nav-pills{style: 'margin-bottom: 20px'}
  - if policy(:directory).index?
    %li{class: ('active' if controller.is_a?(DirectoriesController))}
      = link_to 'ActiveDirectory', directories_path
  - if policy(:airwatch_instance).index?
    %li{class: ('active' if controller.is_a?(AirwatchInstancesController))}
      = link_to 'Airwatch', airwatch_instances_path
  - if policy(:google_apps_instance).index?
    %li{class: ('active' if controller.is_a?(GoogleAppsInstancesController))}
      = link_to 'Google Apps', google_apps_instances_path
  - if policy(:office365_instance).index?
    %li{class: ('active' if controller.is_a?(Office365InstancesController))}
      = link_to 'Office365', office365_instances_path
  - if policy(:horizon_instance).index?
    %li{class: ('active' if controller.is_a?(HorizonInstancesController))}
      = link_to 'Horizon', horizon_instances_path
  - if policy(:blue_jeans_instance).index?
    %li{class: ('active' if controller.is_a?(BlueJeansInstancesController))}
      = link_to 'Blue Jeans', blue_jeans_instances_path
  - if policy(:salesforce_instance).index?
    %li{class: ('active' if controller.is_a?(SalesforceInstancesController))}
      = link_to 'Salesforce', salesforce_instances_path
  - if policy(:box_instance).index?
    %li{class: ('active' if controller.is_a?(BoxInstancesController))}
      = link_to 'Box', box_instances_path