.sidebar-usercontrols
  .editprofile
    %a{href: '#', data:{target: '#avatar-modal', toggle: 'modal'}}
      %span.icon-settings
  %img{src: current_user.avatar_url}
  %p
    %span.sidebar-username
      = current_user.first_name
      %strong= current_user.last_name

%span.sidebar-divider.clear Launch

.launcher
  .btn-group-vertical{role: "group"}
    - if current_user.profile.supports_vidm
      %a.btn.btn-primary.btn-sm{href: "https://vidm.vmtestdrive.com", target: "_blank"}
        vIDM
    - else
      %a.btn.btn-primary.btn-sm{href: "https://workspace.vmwdemo.com", target: "_blank"}
        Workspace
    .btn-group-vertical{role: "group"}
      %button#horizonnative.btn.btn-sm.btn-info.dropdown-toggle{onclick: "$(this).tooltip('hide')", data: {container: 'body', placement: 'right', toggle: 'dropdown', "original-title" => "Make sure you have the latest Horizon Client installed!"}}
        Horizon Native Client
        %span.caret
      %ul.dropdown-menu
        - sorted_regions.each_with_index do |region, i|
          %li
            %a{href: "vmware-view://hv6#{region}.vmwdemo.com/", target: "_blank"}
              %span{style: ('font-weight: bold' if i == 0)}
                = region.upcase
        %li.divider{role: "separator"}
        %li
          %a{href: '#'}
            Download
            %br
            Horizon
    %button.btn.btn-sm.btn-info.dropdown-toggle{type: "button", data: {toggle: 'dropdown'}}
      Horizon HTML Access
      %span.caret
    %ul.dropdown-menu
      - sorted_regions.each_with_index do |region, i|
        %li
          %a{href: "https://hv6#{region}.vmwdemo.com/portal/webclient/index.html"}
            %span{style: ('font-weight: bold' if i == 0)}
              = region.upcase
    %a.btn.btn-primary.btn-sm{href: "https://flex.vmtestdrive.com:7443/rvm", target: "_blank"}
      Horizon Flex

%span.sidebar-divider General
%ul.sidebar-nav
  %li
    %a{href: root_path} Dashboard
  %li
    %a{href: "#"} FAQ
  - if policy(:invitation).create?
    %li
      %a{href: new_invitation_path} Send Invitation

- p = policy(:stat)
- if p.desktops? || p.sessions? || p.apps?
  %span.sidebar-divider Stats
  %ul.sidebar-nav
    - if p.desktops?
      %li
        %a{href: desktops_stats_path}
          Desktops
    - if p.sessions?
      %li
        %a{href: sessions_stats_path}
          Sessions
    - if p.apps?
      %li
        %a{href: apps_stats_path}
          Apps

- if current_user.root?
  %span.sidebar-divider Manage
  %ul.sidebar-nav
    - if policy(:user).index?
      %li
        %a{href: users_path} Users
    - if policy(:domain).index?
      %li
        %a{href: domains_path} Domains
    - if policy(:registration_code).index?
      %li
        %a{href: registration_codes_path} Reg Codes
    - if policy(:profile).index?
      %li
        %a{href: profiles_path} Profiles
    - if policy(:integration).index?
      %li
        %a{href: integrations_path} Integrations
    - if services.map{|x| policy(x).index?}.any?
      %li
        %a{href: services_path} Services


%span.sidebar-divider Your Account
%ul.sidebar-nav
  %li
    %a{href: '#', data: {target: '#avatar-modal', toggle: 'modal'}}
      Edit Profile
  %li
    %a{href: '#', data: {target: '#password-change-modal', toggle: 'modal'}} Change Password
  %li
    %a{href: '#', data: {target: '#support-modal', toggle: 'modal'}} Support
  %li
    %a{href: session_path, data: {method: 'delete'}} Log Out