- regions = ['amer', 'emea', 'apac']
- if !current_user.invitation.nil? && !current_user.invitation.region.nil?
  - regions.unshift(regions.delete_at(regions.index(current_user.invitation.region.downcase)))
- custom_domains = []
- if ENV['CUSTOM_DOMAINS']
  - custom_domains = ENV['CUSTOM_DOMAINS'].split(",")
- user_domain = current_user.email.split("@").last.downcase

- workspace_url  = "https://workspace.vmwdemo.com"
- workspace_text = "Workspace"
- if custom_domains.include? user_domain
  - workspace_url  = "https://vidm.vmtestdrive.com"
  - workspace_text = "vIDM"

.sidebar-usercontrols
  .editprofile
    %a{href: '#', "data-target" => "#avatar-modal", "data-toggle" => "modal"}
      %span.icon-settings
  %img{src: current_user.avatar_url}
  %p
    %span.sidebar-username
      #{current_user.display_name.split(" ")[0]}
      %strong #{current_user.display_name.split(" ")[1]}

%span.sidebar-divider.clear Launch

.launcher
  .btn-group-vertical{:role => "group"}
    %a.btn.btn-primary.btn-sm{href: "#{workspace_url}", target: "_blank"}
      #{workspace_text}
    - if custom_domains.include? user_domain
      .btn-group-vertical{:role => "group"}
        %a.btn.btn-primary.btn-sm{href: "https://apple.awmdm.com", target: "_blank"}
          AW Admin Console
      .btn-group-vertical{:role => "group"}
        %a.btn.btn-primary.btn-sm{href: "https://apple.awmdm.com/mydevice", target: "_blank"}
          AW SSP
      .btn-group-vertical{:role => "group"}
        %a.btn.btn-primary.btn-sm{href: "http://my.air-watch.com", target: "_blank"}
          myAirwatch
    - else
      .btn-group-vertical{:role => "group"}
        %button#horizonnative.btn.btn-info.dropdown-toggle.btn-sm{"data-container" => "body", "data-original-title" => "Make sure you have the latest Horizon Client installed!", "data-placement" => "right", "data-toggle" => "dropdown", :onclick => "$('#horizonnative').tooltip('hide')", :title => "", :type => "button"}
          Horizon Native Client
          %span.caret
        %ul.dropdown-menu
          - regions.each_with_index do |region, idx|
            %li
              %a{href: "vmware-view://hv6#{region}.vmwdemo.com/", target: "_blank"}
                %span{style: ('font-weight: bold' if idx == 0)}
                  = region.upcase
          %li.divider{:role => "separator"}
          %li
            %a{href: 'https://my.vmware.com/web/vmware/info/slug/desktop_end_user_computing/vmware_horizon_clients/3_0', target: "_blank"}
              Download
              %br
              Horizon Client
      %button.btn.btn-info.dropdown-toggle.btn-sm{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Horizon HTML Access
        %span.caret
      %ul.dropdown-menu
        - regions.each_with_index do |region, idx|
          %li
            %a{href: "https://hv6#{region}.vmwdemo.com/portal/webclient/index.html"}
              %span{style: ('font-weight: bold' if idx == 0)}
                = region.upcase
      %a.btn.btn-primary.btn-sm{href: "https://flex.vmtestdrive.com:7443/rvm", target: "_blank"}
        Horizon Flex

%span.sidebar-divider General
%ul.sidebar-nav
  %li
    %a{:href => dashboard_path} Dashboard

- if policy(current_user).admin?
  %span.sidebar-divider Admin
  %ul.sidebar-nav
    %li
      %a{:href => new_invitation_path} Send Invitation
    %li
      %a{:href => invitations_path} Manage Accounts
    %li
      %a{:href => domains_path} Domains
    %li
      %a{:href => features_path} Features
    %li
      %a{:href => reg_codes_path} Reg Codes
    %li
      %a{:href => reports_seats_stats_path} Reports

%span.sidebar-divider Your Account
%ul.sidebar-nav
  %li
    %a{"data-target" => "#avatar-modal", "data-toggle" => "modal", :href => "#"} Edit Profile
  %li
    %a{"data-target" => "#password-change-modal", "data-toggle" => "modal", :href => "#"} Change Password
  %li
    %a{"data-target" => "#support-modal", "data-toggle" => "modal", :href => "#"} Support
  %li
    %a{:href => log_out_path} Log Out