- content_for :content do
  .container#fullwidth
    .col-lg-12
      = render 'layouts/messages'
      - if session[:impersonator_id].present?
        .alert.alert-warning{role: "alert"}
          WARNING! You are now in Impersonator Mode.
          Any dashboard activity will happen as though it was initiated by the user you are impersonating.
          Remember, with great power comes great responsibility!
          Click #{link_to 'here', unimpersonate_users_path} to return to Normal Mode.

    = yield
    .col-sm-12.col-md-12.col-lg-12.footer
      %p © 2015 EUC Global Solution Engineering Team

- content_for :sidebar do
  = render 'layouts/sidebar'

= render 'layouts/global'
= render 'layouts/modals'